.container
{
  height: 400px;
  width: 400px;
  margin-top: 50px;

}
.boxes
{
  position: relative;
}

.box1, .box2 , .box3, .box4
{
 position: absolute;
 width: 198px;
 height: 198px;
 display: flex;
 align-items: center;
 justify-content: center;
 border: 2px solid black;
}
.box1
{
  top:0;
  left: 0;
  background-color: red;
  border-top-left-radius:100%;
}
.box2
{
  top:0;
  right: 0;
  background-color: yellow;
  border-top-right-radius:100%;
}
.box3
{
  top:200px;
  left: 0;
  background-color: green;
  border-bottom-left-radius:100%;
}
.box4
{
  top:200px;
  right: 0;
  background-color: blue;
  border-bottom-right-radius:100%;
}
